@import url("./styles.css");

/* Header */

header {
	top: 0;
	width: 100%;
}

nav {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5rem;
	height: 200px;
	background: var(--primary-color);
	text-align: center;
}

#nav-logo {
	max-height: 150px;
}

@media (max-width: 1200px) {
	nav {
		flex-direction: column;
		height: auto;
		gap: 2rem;
		padding: 2rem 0;
	}
}

/* Body */

body {
	background: var(--secondary-color);
}

.project-container {
	display: flex;
	max-width: 1400px;
	margin: 2rem auto;
	border: 2px solid var(--primary-color);
	padding: 1rem;
	gap: 2rem;
	align-items: flex-start;
	background-color: #fff;
}

.project-container img {
	width: 600px;
	height: auto;
	object-fit: cover;
	border: 2px solid var(--primary-color);
}

.project-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.project-info h3 {
	margin-top: 0;
}

.project-info p,
a {
	margin-top: 1rem;
}

@media (max-width: 1450px) and (min-width: 1001px) {
	.project-container {
		max-width: 90%;
	}

	.project-container img {
		width: 45%;
	}

	.project-info {
		width: 50%;
	}
}

@media (max-width: 1000px) {
	.project-container {
		max-width: 90%;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	.project-container img {
		width: 100%;
		max-width: 600px;
	}

	.project-info {
		align-items: center;
		width: 100%;
	}
}

/* Footer */

footer {
	height: 50px;
	background: var(--primary-color);
}
